<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sorry, your recipe could not be created.</h1>
    <p>
        Hi <%= @recipe.email %>,
        your recipe could not be created. Please try again later.
    </p>
    <p>
    Error message: <%= @recipe.instructions %>
    </p>
    <p>Thanks for using our website and have a great day!</p>
  </body>
</html>