<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your recipe has been created!</h1>
    <p>
        Hi <%= @recipe.email %>,
        your recipy has been successfully created.
        Click on the link below to view your recipe.

        <%= link_to "View Recipe", recipe_url(@recipe) %>
    </p>
    <p>Thanks for using our website and have a great day!</p>
  </body>
</html>
