<nav class="navbar navbar-expand-custom navbar-mainbg" style ="--bs-navbar-padding-x: none; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
  <div class="container-fluid">
  
    
 <%= link_to '<h2  style="color:white;"><i class="bi bi-egg-fried"></i>Foodle</h2>'.html_safe, root_path, style:"color:white; text-decoration:none; padding:10px;"%>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to '<i class="fas fa-tachometer-alt"></i> Home'.html_safe, root_path, class: "nav-link",  style:"color:white;"%>
        </li>
        <li class="nav-item">
          <%= link_to '<i class="fas fa-tachometer-alt"></i> Generate a recipe'.html_safe, new_recipe_path, class: "nav-link", style:"color:white;" %>
        </li>
      </ul>
       <ul class="navbar-nav">
        <%= display_navbar_options %>
      </ul>
    </div>
  </div>
</nav>
